<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PDF-Teste</title>
    <style>
        body{
            margin: 2rem;
            background-color: bisque;
            height: 100%;

        }
        .principal{
            padding-top: 6rem;
        }
        .fz-12 {
            font-size: 20pt;
            margin: 1.5rem;
        }
        .logor{
            size: 10%;
            margin-bottom: 0rem;
        }
        .text-center {
            text-align: center;
        }
        .m-1{
            margin: 1rem;
            padding: 0rem;
        }
        .fw-bold{
            font-weight: bold;
        }
        .mt-3{
            margin-top: 2rem;
        }
        .row{
            display: inline-block
        }
        .table-bordered {
    border-collapse: collapse; /* CSS2 */
}
 
.table-bordered td {
    border: 1px solid black;
}
 
.table-bordered th {
    border: 1px solid black;
    background: #878383;
    font-weight: bold;
}
td{
    width: 40rem;
}
.bg-sinza{
    background-color: azure;
    margin: 1rem;
}

ol {
    list-style: start;
}
.lateral{
    position: absolute;
    right: 5rem;
    top: 20.6rem;
}
.table-secondary {
    background-color: #878383;
}
.m-r{
    margin-right: 14rem;
}
.m-r2{
    margin-right: 16rem;
}
.mt-5{
    margin-right: 20rem;

}
.visto{
    position: absolute;
    top: 5rem;
}
.text-end{
    text-align: end;
}
.text-blue {
    color: blue;
}
.text-justify {
    margin-left: 3rem;
    margin-right: 3rem;
    text-align: justify;
}


    </style>
</head>
<body>
    <div class="principal">
    <div class="logo text-center"><img src="http://localhost:8081/img/logor.png" class="logor" alt="Logo"></div>
    <div class="text-center fz-12">
        <p class="m-1">República de Angola</p>
        <p class="m-1">Governo da Província do Bié</p>
        <p class="m-1">Administração Municipal de Catabola</p>
        <p class="fw-bold" >LICEU FELIZBERTO DOMINGO NGUNGA</p>
<div class="visto">
    <div class="text-center">
        <div class="fw-bold">O Director</div>
        <span>___________________</span><br>
        <span>xxxxxxxxxxxxxxxx</span>
    </div>
</div>
        <div class="mt-3 lead fw-bold text-blue">DECLARAÇÃO DE ESTUDANTE</div><br>
    </div>
    
    <div class="text-justify p-5 fz-12">
        <span class="fw-bold">Dr. xxxxxxxxxxxx</span>, Director do Liceu Felizberto D. Ngunga de Catabola, e o Sub-Director Pedagogico <span class="fw-bold">Dr. xxxxxxxxxxxx</span>, declaram que: <span class="fw-bold"> <%= nome %> </span>, filho de <%= nomeEncarregado%>, nascido aos .... , portador do BI nº <%= numBI %> é aluno da <%= classe %>, no curso de <%= curso %> no ano Lectivo <%= anoActivo %>, conforme consta nos nosso registro. <br>
        <p class="mt-3" >Por ser verdade e assim constar, passou-se a presente Declaração assinado e autenticado com carimbo a óleo em uso nesta instituião.</p>

    
    </div>
    <div class="fz-12">
        <div class="fw-bold mt-3 text-center">

            <p>Cuito, aos <%= dia %> de <%= mes %> <%= ano %> </p>

            <span>O Subdirector Pedagógico</span><br>
            __________________________ <br>
            <span class="fw-bold">Dr. xxxxxxxxxxxxx</span>
        </div>
    </div>
</div>
</body>
</html>