<div class="row">
    <div class="col-8">
        <h2>Gerir Informações</h2>
    </div>
    <div class="col-4 text-end">
        <a href="/noticias/nova"><button class="btn btn-secondary" >Criar nova</button></a>
    </div>
</div>
<hr>
<div class="container">
    {{#each informacoes}}

    <div class="row p-2 mt-2 new-card">
        <div class="col-6 border">
            <div class="fw-bold"> {{title}} </div>
            <div class="text-justify ">
            {{text}}
            </div>
        </div>
        <div class="col-5 border">
            <img src="/uploads/{{capa}}" class="capa-informacao" alt="">
        </div>
        <div class="col-1 pt-5 text-center">
            <a href="/noticias/wEdtNew/{{_id}}" class="btn btn-sm form-control mybtn-secondary mt-5" >Editar</a>
            <a href="#" onclick="apagarNoticia()" class="btn btn-sm form-control mybtn-danger mt-1" >Apagar</a>
            <a href="/secretaria/detalheInfo/{{_id}}" class="btn btn-sm form-control mybtn-info mt-1" >Detalhes</a>
        </div>
    </div>
    
    {{else}}
    {{/each}}
</div>



{{!-- M O D A I S --}}

<!-- Modal addDisciplina-->

<form action="/disciplinas/add" method="post">
    <div class="modal" tabindex="-1" data-bs-backdrop="static" id="apagarNoticia">
        <div class="modal-dialog modal-dialog-centered">
            <form action="/candidatos/consultar" method="post">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Deseja apagar a informação</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body input-box">
                        <div class="text-danger lead m-2">Certifica-se de que desejas apagar esta informação!</div>
                        
                        <input type="hidden" name="idClasse" value="{{classe._id}}">
                        <input type="hidden" name="idCurso" value="{{curso._id}}">
                        <input type="hidden" name="idAno" value="{{ano._id}}">

                    </div>
                    <div class="modal-footer text-center">
                         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Feichar</button>
                        <button type="submit" class="btn btn-danger">Apagar</button>
                        
                    </div>
                </div>
            </form>
        </div>
    </div>
</form>

<script src="assets/bootstrap.bundle.min.js" class="img-fluid"></script>
<script>
    function apagarNoticia() {
        //alert(id)
        let el = document.getElementById('apagarNoticia');
        let minha_modal = new bootstrap.Modal(el);
        minha_modal.show();
    }


</script>