<h2 class="text-center" >S O L I C I T A Ç Õ E S - N O V A S </h2>
<hr>
<div class="container mb-5 pb-5">
    <table class="table table-hover ">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Descrição</th>
      <th scope="col">Solicitante</th>
      <th scope="col">Telefone</th>
      <th scope="col text-end">#</th>
    </tr>
  </thead>
  <tbody>
      {{#each novasSolicitacoes}}
    <tr>
      <td> {{descricao}} </td>
      <td> {{nomeDoSolicitante}} </td>
      <td> {{contacto}} </td>
      <td>
            <form action="/secretaria/aceitarSolicitacao" method="post">
        <div class="row">
            <div class="col-6 text-end">
                <input type="hidden" name="numBI" value="{{numBI}}" id="">
                <input type="hidden" name="idSolic" value="{{_id}}" id="">
                <input type="hidden" name="tipo" value="{{tipoOcorrencia}}" id="">
            <a href="/secretaria/detalheSolic/{{_id}}" class="btn btn-sm" ><i class="bi bi-eye">Ver</i></a>

            </div>
            <div class="col-6">

            <button class="btn btn-sm " >Aceitar</button>
            </div>
        </div>
            </form>
      </td>
    </tr>
      {{else}}
      {{/each}}
      </tbody>
</table>
<i class="bi bi-eye"></i>
</div>