<div class="container mt-4 col-6 offset-3">
    <h2>

    Resultado da consultar
    </h2>
    <hr>
    <div class="card">
        <div class="card-body">
            <div class="p-3">

                    <h4>{{candConsulta.nome}}</h4>
                    <div class="mt-1 lead"><label class="h5" for="">BI: </label> {{candConsulta.numBI}}</div>
                    <div class="mt-1 lead"><label class="h5" for="">Idade: </label> {{candConsulta.idade}}</div>
                    <div class="mt-1 lead"><label class="h5" for="">Curso: </label> {{candConsulta.curso}}</div>
                    <div class="mt-1 p-1 text-center bg-info text-light h4"> {{candConsulta.estado}}</div>
                </div>
        </div>
    </div>
</div>