<h1 class="text-center">SOLICITAÇÃO</h1>
<hr class="my-0 p-1">
<a href="/pedagogico/solicitacoes"><button class="btn btn-sm btn-secondary">Voltar</button></a>

<hr class="mb-1 mt-5 py-1">
<div class="container mt-0 offset-1">
    <div class="row ms-0 mt-0">
        <div class="col-10 ">
            <div class="p-1 h4 bg-secondary text-light"></div>
            <div class="row text-dark bg-dark mt-2 me-1">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="row p-0">

                            <div class="col-6 p-0">
                                <dir class="mark p-2">

                                    Descrição: <span class="fw-bold "> {{solicitacao.descricao}} </span>
                                    <hr>
                                </dir>

                                <br>
                                Solicitante: <span class="text-sm"> {{solicitacao.nomeDoSolicitante}}</span>
                                <br>
                                BI: <span class="text-sm"> {{solicitacao.numBI}}</span>
                                <br>
                                Turma: <span class="text-sm"> {{solicitacao.turma.codigo}}</span>
                                <br>
                                Disciplina: <span class="text-sm"> {{solicitacao.disciplina}}</span>
                                <br>
                                Faltas por justificar: <span class="text-sm"> {{solicitacao.numfaltas}}</span>


                            </div>
                            <div class="col-6">
                                <span class="fw-bold">Estado:</span> <span> {{solicitacao.estado}} </span>
                                <div class="row mt-5">
                                    <div class="col-6 text-center">
                                        <div class="h6 fw-bold text-center">Dr pedagogico</div>
                                        <hr class="mx-3 p-0 m-1">
                                        <form action="/pedagogico/autorizarJustific" method="post">
                                            <input type="hidden" name="idSolicitacao" value="{{solicitacao._id}}" id="">
                                            <input type="hidden" name="numBI" value="{{solicitacao.numBI}}" id="">
                                            {{#if solicitacao.autorizado}}
                                            <button class="btn btn-sm btn-warning">Autorizada</button>
                                            {{else}}
                                            <button type="submit" class="btn btn-sm btn-success">Autorizar</button>
                                            {{/if}}
                                        </form>
                                    </div>
                                    <div class="col-6 text-center">
                                        <div class="h6 fw-bold text-center">Professor</div>
                                        <hr class="mx-3 p-0 m-1">
                                        <form action="/professor/justificarFaltaDoAluno" method="post">
                                            <input type="hidden" name="idSolicitacao" value="{{solicitacao._id}}" id="">
                                            <input type="hidden" name="disciplina" value="{{solicitacao.disciplina}}"
                                                id="">
                                            <input type="hidden" name="numBI" value="{{solicitacao.numBI}}" id="">
                                            <input type="hidden" name="numfaltas" value="{{solicitacao.numfaltas}}"
                                                id="">
                                            {{#if solicitacao.autorizado}}
                                            <button type="submit" class="btn btn-sm btn-success">Justificar</button>
                                            {{else}}
                                            <button class="btn btn-sm btn-danger">Sem autorização</button>
                                            {{/if}}
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<hr class="mb-1 ">
<div class="lead text-center text-italic mt-0">Solicitação de {{solicitacao.descricao}} de
    {{solicitacao.nomeDoSolicitante}} </div>


{{!-- MODAIS --}}
<!-- Modal nova ocorrencia-->

<div class="modal" tabindex="-1" data-bs-backdrop="static" id="idRegistrarEntrada">
    <div class="modal-dialog modal-dialog-centered">
        <form action="/secretaria/novaOcorrencia" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Registro de nova ocorrencia</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body input-box">
                    <label for="tipo">Tipo de entrada:</label>
                    <select name="tipo" id="">
                        <option value="selecionar">Selecionar</option>
                        <option value="emicaoDeCertif">Emição de Certificado</option>
                        <option value="emicaoDeDec">Emição de Declaração</option>
                        <option value="justficativo">Justificação de Faltas</option>
                        <option value="decServiço">Declaração de serviço</option>
                        <option value="recepcaoDoc">Recepção de Documentos</option>
                        <option value="selecionar">Outros</option>
                    </select>

                    <button type="submit" class="btn btn-primary">Continuar</button>
                </div>
                <div class="modal-footer text-center">
                    {{!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Feichar</button>
                    --}}
                </div>
            </div>
        </form>
    </div>
</div>

<script src="assets/bootstrap.bundle.min.js" class="img-fluid"></script>
<script>
    function registrarEntrada() {

        let el = document.getElementById('idRegistrarEntrada');
        let minha_modal = new bootstrap.Modal(el);
        minha_modal.show();
    }

</script>