{{#if msg}}
<div class="alert alert-success text-center">{{msg}}</div>
{{else}}
{{/if}}
{{#if exist}}
<div class="alert alert-danger text-center">{{exist}}</div>
{{else}}
{{/if}}
<h1><span class="text-secondary">Turmas:</span> {{curso.descricao}} / {{ano.codigo}}</h1>
<hr>
<div class="bg-secondary">
    <div class="row">

        <div class="col-10">
            <a href="#" onclick="addTurma()"><button class=" btn btn-sm btn-success">+ Turma</button> </a>
            <span class="text-light text-center"> Lista de todas as turmas da {{classe.designacao}} do curso de
                {{curso.descricao}} do ano Lectivo {{ano.codigo}}</span>

        </div>
        <div class="col-2 text-end"><a href="#" onclick="addDisciplina()"><button
                    class="btn btn-sm btn-warning">Adicionar disciplina</button></a></div>
    </div>
</div>
<hr>


<ol class="list-group list-group-numbered">
    <div class="container">
        <div class="mynav mt-1">

            <ul class="mycardTurmas">

                {{#each turmas}}
                <li class="text-center p-2 pt-4">
                    <div class="lead">Turma</div>
                    <div class="h2">
                        {{codigo}}
                    </div>
                    <a href="/turmas/turma/{{_id}}" class="btn btn-sm bg-dark text-light">Entrar</a><br>
                    <span>Click para ver mais informações</span>
                </li>

                {{else}}
            </ul>
            <div class="h3 text-center mt-3">Nenhuma turma criada</div>
            {{/each}}
        </div>
        <div class="container">
            <div class="row mb-0">
                <div class="col-8 mb-0">
                    <h3>Disciplinas:</h3>
                </div>
                <div class="col-4 mb-0 text-end">
                    <form action="/anosLectivo/gerirCurso/" method="post">
                        <input type="hidden" name="idAno" value="{{curso.idAno}}">
                        <input type="hidden" name="idCurso" value="{{curso._id}}">
                        {{#if eAdmin}}
                        <button type="submit" class="btn btn-sm mybtn-secondary mb-0">Ver todas Classes</button>
                        {{else}}
                        <button type="submit" class="btn btn-sm mybtn-secondary mb-0">Ver todas Classes</button>
                        {{/if}}
                </div>
                </form>
                </form>
            </div>
        </div>
        <hr class="mt-0">
        {{#each disciplinas}}
        <div class="myCard-Disc p-1">
            <span> {{nomeDisciplina}} </span>
            <a href="/disciplinas/editar/{{_id}}" class="btn btn-sm"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-pencil text-primary" viewBox="0 0 16 16">
                    <path
                        d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                </svg></a>
            <a href="" class="btn btn-sm"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-trash text-danger" viewBox="0 0 16 16">
                    <path
                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                    <path
                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                </svg></a>
        </div>
        {{else}}
        {{/each}}
    </div>

    <!-- Modal addClasse-->

    <form action="/classes/add" method="post">
        <div class="modal" tabindex="-1" data-bs-backdrop="static" id="addClasse">
            <div class="modal-dialog modal-dialog-centered">
                <form action="/candidatos/consultar" method="post">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Adicionar nova classe</h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body input-box">
                            <label for="designacao">Designação:</label>
                            <select name="designacao" required>
                                <option value="selecionar">Selecionar</option>
                                <option value="10ª Classe">10ª classe</option>
                                <option value="11ª Classe">11ª Classe</option>
                                <option value="12ª Classe">12ª Classe</option>
                            </select>
                            <label for="numVagas">Nº Vagas:</label>
                            <input type="number" name="numVagas" class="form-control" required><br>
                            <label for="turnos">Turnos:</label>
                            <select name="turnos" required>
                                <option value="selecionar">Selecionar</option>
                                <option value="matinal">Matinal</option>
                                <option value="vespertino">Vespertino</option>
                                <option value="noturno">Noturto</option>
                                <option value="matVespertino">Matinal e Vespertino</option>
                                <option value="todos">Todos</option>
                            </select>
                            <input type="hidden" name="idCurso" value="{{curso._id}}">
                            <input type="hidden" name="idAno" value="{{ano._id}}">

                            <button type="submit" class="btn btn-primary">Adicionar</button>
                        </div>
                        <div class="modal-footer text-center">
                            {{!-- <button type="button" class="btn btn-secondary"
                                data-bs-dismiss="modal">Feichar</button>
                            --}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </form>

    <!-- Modal addTurma-->

    <form action="/turmas/add" method="post">
        <div class="modal" tabindex="-1" data-bs-backdrop="static" id="addTurma">
            <div class="modal-dialog modal-dialog-centered">
                <form action="/candidatos/consultar" method="post">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Adicionar nova turma</h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body input-box">
                            <label for="classe">Classe:</label>
                            <select name="classe" required>
                                {{#if classe10}}
                                <option value="10ª Classe">10ª classe</option>
                                {{else}}
                                {{/if}}
                                {{#if classe11}}
                                <option value="11ª Classe">11ª classe</option>
                                {{else}}
                                {{/if}}
                                {{#if classe12}}
                                <option value="12ª Classe">12ª classe</option>
                                {{else}}
                                {{/if}}
                            </select>
                            <label for="codigo">Código:</label>
                            <input type="text" name="codigo" placeholder="Digite o código da turma" required>
                            <label for="periodo">Período:</label>
                            <select name="periodo" required>
                                <option value="selecionar">Selecionar</option>
                                <option value="matinal">Matinal</option>
                                <option value="vespertino">Vespertino</option>
                                <option value="noturno">Noturto</option>
                            </select>
                            <input type="hidden" name="idCurso" value="{{curso._id}}">
                            <input type="hidden" name="idAno" value="{{ano._id}}">

                            <button type="submit" class="btn btn-primary">Adicionar</button>
                        </div>
                        <div class="modal-footer text-center">
                            {{!-- <button type="button" class="btn btn-secondary"
                                data-bs-dismiss="modal">Feichar</button>
                            --}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </form>

    <!-- Modal addDisciplina-->

    <form action="/disciplinas/add" method="post">
        <div class="modal" tabindex="-1" data-bs-backdrop="static" id="addDisciplina">
            <div class="modal-dialog modal-dialog-centered">
                <form action="/candidatos/consultar" method="post">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Adicionar nova disciplina</h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body input-box">
                            <label for="nomeDisciplina">Nome da disciplina:</label>
                            <input type="text" name="nomeDisciplina" required>
                            <label for="tempoLectivo">Tempo lectivo por semana:</label>
                            <input type="number" name="tempoSemanal" required>

                            <input type="hidden" name="idClasse" value="{{classe._id}}">
                            <input type="hidden" name="idCurso" value="{{curso._id}}">
                            <input type="hidden" name="idAno" value="{{ano._id}}">

                            <button type="submit" class="btn btn-primary">Adicionar</button>
                        </div>
                        <div class="modal-footer text-center">
                            {{!-- <button type="button" class="btn btn-secondary"
                                data-bs-dismiss="modal">Feichar</button>
                            --}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </form>

    <script src="assets/bootstrap.bundle.min.js" class="img-fluid"></script>
    <script>
        function addClasse() {

            let el = document.getElementById('addClasse');
            let minha_modal = new bootstrap.Modal(el);
            minha_modal.show();
        }

        function addTurma() {
            let el = document.getElementById('addTurma');
            let minha_modal = new bootstrap.Modal(el);
            minha_modal.show();
        }


        function addDisciplina() {
            let el = document.getElementById('addDisciplina');
            let minha_modal = new bootstrap.Modal(el);
            minha_modal.show();
        }



    </script>