{{#if msg}}
<div class="alert alert-success text-center">{{msg}}</div>
{{else}}
{{/if}}
{{#if exist}}
<div class="alert alert-danger text-center">{{exist}}</div>
{{else}}
{{/if}}
<div class="row">
    <div class="col-10">

<h2><span class="text-secondary">Turma:</span> {{turma.codigo}} - {{classe.designacao}} / {{curso.descricao}}</h2>
    </div>
    <div class="col-2 pt-3"><a href="#" class="btn btn-sm btn-primary " onclick="addAluno()">+Aluno</a> <a href="/pedagogico/turmas" class="btn btn-sm mybtn-primary" >Td Turmas</a></div>
</div>
<hr>
<div class="bg-secondary p-2">
    <div class="row">
<div class="col-9">


    {{#if naoVagas}}
    <a href="#" class=" btn btn-sm btn-danger">Sem vaga!</a>
    <span class="text-light text-end"> Lista de alunos da turma {{turma.codigo}} do curso 
        {{curso.descricao}} do ano {{ano.codigo}} </span>
    {{else}}

    {{#if classe10}}
    <a href="#" class=" btn btn-sm mybtn-color2" onclick="matricular()">+ Matricular novo aluno</a>
    {{else}}
    <a href="#" class=" btn btn-sm btn-primary" onclick="addTurma()">+ Confirmar matricula</a>
    {{/if}}
    <span class="text-light text-center"> Lista de alunos da turma {{turma.codigo}}, curso
        {{curso.descricao}} do ano {{ano.codigo}} </span>

    {{/if}}
</div>
<div class="col-3 text-end">
    <a href="#"><button class="btn btn-sm btn-light" >Alunos</button></a>
    <a href="/turmas/pturma/{{turma._id}}"><button class="btn btn-sm mybtn-color" >Professores</button></a>
    
</div>
    </div>
</div>
<hr>
<div class="conteiner">
    <div class="row lead">
        <div class="col-2"></div>
        <div class="col-5">Nome completo</div>
        <div class="col-2">Idade</div>
        <div class="col-3">Genero</div>
    </div>
    <ol>
        {{#each alunos}}
        <li>

            <div class="card p-2 mt-2">

                <div class="card-body">

                    <div class="row">
                        <div class="col-2">FOTO</div>
                        <div class="col-5 h4">{{nome}}</div>
                        <div class="col-2">{{idade}} anos</div>
                        <div class="col-2">{{genero}}</div>
                        <div class="col-1"><a href="/alunos/ficha/{{_id}}"
                                class="bg-info text-light p-2 btn btn-sm">i</a></div>
                    </div>
                </div>
            </div>

        </li>
        {{else}}
        {{/each}}

    </ol>
</div>
<hr>
<div class="text-center">
    <button type="submit" class="btn btn-sm mybtn-primary" onclick="editarTurma()" >Editar dados da turma</button>
    <a href="/turmas/gerarLista/{{turma._id}}"> <button class="btn btn-sm btn-secondary" >Gerar lista</button> </a>
    <button type="submit" class="btn btn-sm mybtn-danger" onclick="eliminarTurma()" >Eliminar esta turma</button>
</div>





<!-- Modal Matricular-->

<div class="modal" tabindex="-1" data-bs-backdrop="static" id="matricular">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Nova Matricula: - {{classe10}}</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="container">
                {{#each candMatricular}}
                <form action="/turmas/novaMatricula" method="post">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3 h2"> FOTO </div>
                                <div class="col-3"> {{nome}} </div>
                                <div class="col-3"> {{idade}} anos </div>
                                <div class="col-3">
                                    <input type="hidden" name="idCandidato" value="{{_id}}">
                                    <input type="hidden" name="idTurma" value="{{idTurma}}">
                                    <button type="submit" class="btn btn-dark btn-sm">Matricular</button>
                                    <a href="#" class="btn btn-info btn-sm text-light">+ informações</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                {{else}}
                <h3 class="text-danger">Não ha mais candidato admitido neste curso</h3>
                {{/each}}
            </div>

            <div class="modal-footer text-center">
                <div class="lead text-info">Apenas candidatos admitidos constam nessa lista</div>
            </div>
        </div>
    </div>
</div>


<!-- Modal addProfessor-->

<div class="modal" tabindex="-1" data-bs-backdrop="static" id="addProfessor">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Selecionar Professor: - {{classe10}} {{turma.codigo}} </h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="container">
                {{#each candMatricular}}
                <form action="/turmas/novaMatricula" method="post">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3 h2"> FOTO </div>
                                <div class="col-3"> {{nome}} </div>
                                <div class="col-3"> {{idade}} anos </div>
                                <div class="col-3">
                                    <input type="hidden" name="idCandidato" value="{{_id}}">
                                    <input type="hidden" name="idTurma" value="{{idTurma}}">
                                    <button type="submit" class="btn btn-dark btn-sm">Matricular</button>
                                    <a href="#" class="btn btn-info btn-sm text-light">+ informações</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                {{else}}
                <h3 class="text-danger">Não ha mais candidato admitido neste curso</h3>
                {{/each}}
            </div>

            <div class="modal-footer text-center">
                <div class="lead text-info">Apenas candidatos admitidos constam nessa lista</div>
            </div>
        </div>
    </div>
</div>
<!-- Modal addAluno-->

<div class="modal" tabindex="-1" data-bs-backdrop="static" id="addAluno">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">{{classe.designacao}} - {{turma.codigo}} </h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="container">
                <form action="/admin/addAluno" method="post">
                    <div class="card">
                        <div class="card-body">
                            <input type="text" name="nome" placeholder="Insira o nome do aluno" id="" class="form-control my-2" required>
                            </div>
                        </div>
                    </div>
            <div class="text-center p-3">
                            <input type="hidden" name="idTurma" value="{{turma._id}}" id="">
                            <input type="hidden" name="numBI" value="000Provisorio" id="">
                            <input type="hidden" name="classe" value="{{classe.designacao}}" id="" class="form-control my-2">
                            <input type="hidden" name="idClasse" value="{{classe._id}}" id="" class="form-control my-2">
                            <input type="hidden" name="curso" value="{{curso.descricao}}" id="" class="form-control my-2">
                            <input type="hidden" name="idCurso" value="{{curso._id}}" id="" class="form-control my-2">
                <button type="submit" class="btn btn-success" >Adicionar</button>
            </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- Modal eliminarTurma-->
<div class="modal" tabindex="-1" data-bs-backdrop="static" id="eliminarTurma">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-danger"> Pretendes eliminar esta turma?  </h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="container">
                <form action="/admin/eliminarTurma/" method="post">
                    <div class="card">
                        <div class="card-body">
                            {{classe.designacao}} <br>
                            <span>Turma: </span>{{turma.codigo}} <br>
                            <span>Curso: </span>{{curso.descricao}}

                            </div>
                        </div>
                    </div>
            <div class="text-center p-3">
                            <input type="hidden" name="idTurma" value="{{turma._id}}" id="">
                            <input type="hidden" name="numBI" value="000Provisorio" id="">
                            <input type="hidden" name="classe" value="{{classe.designacao}}" id="" class="form-control my-2">
                            <input type="hidden" name="idClasse" value="{{classe._id}}" id="" class="form-control my-2">
                            <input type="hidden" name="curso" value="{{curso.descricao}}" id="" class="form-control my-2">
                            <input type="hidden" name="idCurso" value="{{curso._id}}" id="" class="form-control my-2">
                <button type="submit" class="btn btn-danger" >Eliminar</button>
            </div>
                </form>
            </div>

        </div>
    </div>
</div>
<!-- Modal editarTurma-->
<div class="modal" tabindex="-1" data-bs-backdrop="static" id="editarTurma">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h3 class="modal-title"> Alterar código da turma  </h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="container">
                <form action="/admin/editarTurma/" method="post">
                    <div class="card">
                            <label for="codigo" class="mt-2 text-center">Código</label>
                            <div class="col-6 offset-3">
                            <input type="text" name="codigo" value="{{turma.codigo}}" class="form-control text-center" id="">
                            </div>
                        <div class="card-body">
                            <div class="text-center">{{classe.designacao}}</div>
                            <div class="text-center">Curso: {{curso.descricao}}</div>
                            </div>
                        </div>
                    </div>
            <div class="text-center p-3">
                            <input type="hidden" name="idTurma" value="{{turma._id}}" id="">
                            <input type="hidden" name="numBI" value="000Provisorio" id="">
                            <input type="hidden" name="classe" value="{{classe.designacao}}" id="" class="form-control my-2">
                            <input type="hidden" name="idClasse" value="{{classe._id}}" id="" class="form-control my-2">
                            <input type="hidden" name="curso" value="{{curso.descricao}}" id="" class="form-control my-2">
                            <input type="hidden" name="idCurso" value="{{curso._id}}" id="" class="form-control my-2">
                <button type="submit" class="btn btn-primary" >Alterar</button>
            </div>
                </form>
            </div>

        </div>
    </div>
</div>

<script src="assets/bootstrap.bundle.min.js" class="img-fluid"></script>
<script>
    function matricular() {

        let el = document.getElementById('matricular');
        let minha_modal = new bootstrap.Modal(el);
        minha_modal.show();
    }

    function addAluno() {

        let el = document.getElementById('addAluno');
        let minha_modal = new bootstrap.Modal(el);
        minha_modal.show();
    }
    function addProfessor() {

        let el = document.getElementById('addProfessor');
        let minha_modal = new bootstrap.Modal(el);
        minha_modal.show();
    }
    function eliminarTurma() {

        let el = document.getElementById('eliminarTurma');
        let minha_modal = new bootstrap.Modal(el);
        minha_modal.show();
    }
    function editarTurma() {

        let el = document.getElementById('editarTurma');
        let minha_modal = new bootstrap.Modal(el);
        minha_modal.show();
    }




</script>